a.active,
a:hover {
  background: #1b9bff;
  /* padding-left: 5%;
  padding-right: 60px; */
  transition: .3s;
}

   nav ul li {
    display: inline-block;
    margin: 5 10px;
    } 


    .Nava1 {
      margin-left: 0;
      margin-right: 0;
      color: rgb(44, 43, 43);
      border-radius: 2px;
      padding-left: 1%;
      padding-right: 1%;
      padding-bottom: 0.4%;
    
    }


  nav ul li a {
    color: rgb(14, 13, 13);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: solid;
  }

  .blank25 {
    padding-left: 5px;
  }
  
  .stylecourses {
    background-color: rgb(126, 126, 126);
  }

